.card {
border: 0px;
display: flex;
justify-content: center;
}

.card img {
    width: 70px;
    height: 70px;

}

.card table {
    margin: 0 auto;
    width: 50%;
    margin-right: 5vw;
    padding: 50px;
}
.p_counter{
    text-align: center;
    margin-left: 30vh;
}

.bs-multiselect {
    text-align: center;
    margin-left: 48vh;

}



.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 30px;
    vertical-align: center;
}

/* HEART LIKE CSS START */
.heart-like-button {
  position: relative;
  width: 10px;
  height: 10px;
}
.heart-like-button:before {
  position: absolute;
  top: 19;
  left: 19px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 20px;
  height: 25px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}
.heart-like-button:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
  width: 20px;
  height: 25px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}
.heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #d65076;
}
.heart-like-button.liked {
  animation: liked .4s ease;
}
@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 480px) {
  #container {
    height: auto;
  }
}

/* HEART LIKE END CSS */